/* 
.fav-btn {
    font-size:24px;
    cursor: pointer;
    color: grey;
}

.fav-btn:hover {
    color: red;
    opacity: 0.7;
}

.fav-container {
    display:flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex:1;
}

#btn1, #btn2 {
    color: red;
} */
/* .item {
    justify-content: space-between;
} */

#watchlist-container {
    display: flex;
    margin: auto;
    width: 75%;
    flex-direction: column;
    /* padding: 50px; */
}
