.search_bar {
    line-height: 3em;
    text-align: center;
    font-size: 30px;

    border-radius: 20px;


    margin-left: 20%;
    width: 60%;
}

.search_button{
    width: 10%;
    font-size: 14px;
    margin-right: 10%

    border-radius: 100px;

}

.search_box{

    display: flex;
    padding-top: 15px;


    width: 100%;
}

.item {
    display: flex;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 80%;
    height: 150px;
    border-style: solid;
}

.thumbnail {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 20px;
    float: left
}

.description {
    display: flex;
    flex-direction: column;
}

h1 {
text-align: center;
}

p {
margin: 0.5em;}
