<div class="navMenu">
    <nav>
        <a class="noHover"><img src=static/img/jobicon.png width='15px'/> Job-Hunta</a>
        <a href="{{url_for('get_home')}}" id="home" >Home</a>
        <a href="{{url_for('get_home')}}" id="watchlist" >Watchlist</a>
        <a href="{{url_for('get_news')}}" id="newsfeed" >Newsfeed</a>
        <a href="profile.html" id="profile" >Profile</a>
        <a href="signup.html" id="signup" >Sign Up</a>
        <a href="login.html" id="login" >Login</a>
    </nav>
</div>
