<div class="navMenu">
    <nav>
        <a class="noHover"><img src=static/img/jobicon.png width='15px'/> Job-Hunta</a>
        <a href="{{url_for('get_home')}}" id="home" >Home</a>

        <a href="{{url_for('get_news')}}" id="newsfeed" >Newsfeed</a>

        {% if login == true %}
            <a href="{{url_for('get_watchlist_jobs')}}" id="watchlist" >Watchlist</a>
            <a href="{{url_for('get_profile')}}" id="profile" >Profile</a>
            <a href="{{url_for('get_logout')}}" id="logout" >Logout</a>
        {% else %}
            <a href="{{url_for('get_signup')}}" id="signup" >Sign Up</a>
            <a href="{{url_for('get_login')}}" id="login" >Login</a>
        {% endif %}
    </nav>
</div>
