
.title {
    font-family: 'Bebas Neue', cursive;
    font-size: 400%;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}


.item {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px auto;
    background-color: #FDF2ED;
    width: 80%;
    height: fit-content;
    border: 5px solid rgb(252, 76, 56);
    border-radius: 20px;
    /* cursor: pointer */
    text-decoration: none;
    color: rgb(31, 30, 30);
}

.item:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-info {
    border-bottom: 20px black;
    font-size: 15pt;
}

.job-container {
    margin: auto;
    margin-bottom: 100px;
    width: 75%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    font-size: 14pt;
    background-color: #FDF2ED;
    border-radius: 10px;
    border: 4px solid rgb(252, 76, 56);
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: fit-content;
    flex-wrap: wrap;
}
.button {
    width: fit-content;
    font-size: 15pt;
    margin: 10px 15px 10px 0;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    background-color: rgb(252, 76, 56);
    font-weight: bold;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.company-logo {
    width: 200px;
}

h1 {
    font-family: 'Varela Round', sans-serif;
}

h3 {
    font-family: 'Varela Round', sans-serif;
}

.pagination ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    width: 20%;
    margin: auto;
}