.newsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: space-between;
    padding: auto;
    row-gap: 20px;
}

.newsItem {
    text-align: left;
    border: 4px solid rgb(252, 76, 56);;
    margin: auto 20% auto;
    padding: 10px;
    border-radius: 20px;
    background-color: #FDF2ED;
}

.newsItem img {
    float: left;
    margin-right: 20px;
}

.newsItem a:link {
    color: black;
    background-color: transparent;
}

.newsItem a:visited {
    color: black;
    background-color: transparent;
}

.newsItem p {
    font-weight: bold;
}