<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="static/js/navbarload.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="static/css/nav.css">
        <link rel="stylesheet" href="static/css/jobposting.css">
        <link rel="stylesheet" href="static/css/home.css">
        <!-- font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

        <title>Home</title>
    </head>
    <body>
    <div id="nav"></div>
    <div class="title"> <img src=static/img/jobicon.png width='200px'/>Job-Hunta</div>

    <div class="search_box">
        <input type="text" class="search_bar" id="search-input" placeholder="Search For Jobs" >
        <input type="button" class="search_button" id="search-btn" value="Search">
    </div>
    <br>
    <br>
    <div class="filters">
        <b><p> Only show jobs where</p></b>
        <select id="salary" class="filter">
            <option value="" selected disabled hidden>Min salary</option>
            <option value="50 000">50 000</option>
            <option value="75 000">75 000</option>
            <option value="100 000">100 000</option>
            <option value="150 000">150 000</option>
        </select>

        <select id="jobtype" class="filter">
            <option value="None" selected disabled hidden>Job type</option>
            <option value="Full Time">Full Time</option>
            <option value="Part Time"> Part Time </option>
        </select>

        <select id="state" class="filter">
            <option value="None" selected disabled hidden>State</option>
            <option value="NSW">NSW</option>
            <option value="VIC">VIC</option>
            <option value="WA">WA</option>
            <option value="SA">SA</option>
            <option value="QLD">QLD</option>
            <option value="TAS">TAS</option>
        </select>

        <select id="suburb" class="filter">
            <option value="None" selected disabled hidden>Suburb</option>
            <option value="Epping">Epping</option>
            <option value="Hornsby">Hornsby</option>
            <option value="Chatswood">Chatswood</option>
        </select>
    </div>
    {% if popup  %}
        <div id="popup-box">
            <div id="popup-content">
                <span id="close">&times;</span>
                <p id="error-msg">Have you received a response from {{job.title}}</p>
                <input class="button" type="button" id="yesButton" value="Yes" onclick="updateJob({{job}}, {{u_id}})">
                <input class="button" type="button" id="noButton" value="No">
                <input class="button" type="button" id="postingButton" value="Posting" onclick="createJobPosting(event, {{job|striptags}}, '/')">
            </div>
        </div>
    {% endif %}
    <a href="#recommendation"><img id="recommend_image" src="static/img/down_arrow.png"></a>
    <h1 id="recommend_text"><a href="#recommendation" id="recommend_header"> Recommended Jobs </a></h1>
    <div class="container" id="recommendation">
        {% for job in jobs %}
            {% set index = loop.index %}
            {% set new_id = "add" + index|string %}
            <div class="item" onclick="createJobPosting(event, {{job|striptags}}, '/')">
                {% if job.job_type == 'Unknown'%}
                    {% set jobtype = ''%}
                {% elif job.job_type == 'part_time' %}
                    {% set jobtype =  "   |   " + 'Part Time'%}
                {% elif job.job_type == 'full_time' %}
                    {% set jobtype = "   |   " + 'Full Time'%}
                {% else %}
                    {% set jobtype = "    |   " + job.job_type%}
                {% endif %}
                {% if job.company == 'Unknown'%}
                    {% set comp = ''%}
                {% else %}
                    {% set comp = "   |   " + job.company%}
                {% endif %}
                <h3>{{job.title|striptags}}     {{comp|striptags}}     {{jobtype|striptags}}</h3>
                <h4> {{job.location|striptags}}</h4>
                {% set descrip = job.description|striptags%}
                <p>...{{descrip[:250]}}...</p>
                <p> <b>Posted on:</b> {{job.created|striptags}} </p>
                {% if job.in_watchlist %}
                    <input id={{new_id}} class="button" type="button" value="Remove from watchlist" onclick="addToWatchlist({{job}}, '{{new_id}}', {{login}})"></input>
                {% else %}
                    <input id={{new_id}} class="button" type="button" value="Add to watchlist" onclick="addToWatchlist({{job}}, '{{new_id}}', {{login}})"></input>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div id="footer"></div>
    <script src="static/js/search.js"></script>
    <script src="static/js/jobposting.js"></script>
    <script src="static/js/home.js"></script>
    </body>
</html>
