<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="{{ url_for('static', filename='js/navbarload.js') }}"></script>
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jobposting.css') }}">

        <!-- font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Varela+Round&display=swap" rel="stylesheet">
        <title>Job Posting</title>
    </head>
    <body>
        <div id="nav"></div>
        <div class="job-container">
            <div class="header-info">
                <h2>{{title}}</h2>
                <h3>{{company}}</h3>
                <h4>{{location}}</h4>
                <h4>{{jobtype}}</h4>
                <p><b>Posted on:</b> {{created}}</p>
            </div>
            <h3>Job description</h3>
            <p class="description">{{description}}</p>
            <div class="btn-container">
                <input class="button" type="button" value="Back to results" onclick="location.href='/results'"></input>
                <input id="add" class="button" type="button" value="Add to watchlist" onclick="addToWatchlist()"></input>
                <input class="button" type="button" value="Apply now" onclick="window.open({{url}},'_blank')"></input>
            </div>
        </div>
        <div id="footer"></div>
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    </body>
</html>
