<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="static/js/index.js"></script>
        <script src="static/js/navbarload.js"></script>

        <link rel="stylesheet" href="static/css/nav.css">
        <link rel="stylesheet" href="static/css/newsfeed.css">
        <link rel="stylesheet" href="static/css/search.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <!-- font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Varela+Round&display=swap" rel="stylesheet">

        <title>newsfeed</title>
    </head>
    <body>
        <div id="nav"></div>
        <div class="title">Newsfeed</div>
        <div class="search_box">
            <input type="text" class="search_bar" id="search-input" placeholder="Search For News" >
            <input type="button" class="search_button" id="search-btn" value="Search">
        </div>
        <br>
        <br>
        <div class="filters">
            <b><p> Only show news within:</p></b>
            <select id="timeframe" class="filter">
                <option value="" selected disabled hidden>time-frame</option>
                <option value="1">Day</option>
                <option value="30">Month</option>
                <option value="365">Year</option>
            </select>

            <select id="category" class="filter">
                <option value="" selected disabled hidden>category</option>
                <option value="business">business</option>
                <option value="entertainment">entertainment</option>
                <option value="general">general</option>
                <option value="health"> health </option>
                <option value="science"> science </option>
                <option value="sports"> sports </option>
                <option value="technology"> technology </option>
            </select>

            <select id="location" class="filter">
                <option value="" selected disabled hidden>country</option>
                <option value="au">Australia</option>
                <option value="nz">New Zealand</option>
                <option value="gb">United Kingdom</option>
                <option value="us">United States</option>
            </select>
        </div>
        {{ pagination.links }}
        <!-- Filler content for actual api implementation -->
        <div class="newsContainer">
            {% for article in articles %}
                <div class="newsItem">
                    <img src={{article.urlToImage}} width='150px'>
                    <h2><a href={{article.url}}>{{article.title}}</a></h2>
                    <p>{{article.source['name']}} | {{article.publishedAt}}</p>
                    <ul>
                        <li>{{article.description}}</li>
                    </ul>
                </div>
            {% endfor %}  
        </div>
        {{ pagination.links }}
        <div id="footer"></div>
    </body>
    <script src="static/js/searchnewsfeed.js"></script>
    <script src="static/js/jobposting.js"></script>
</html>
