<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="static/js/index.js"></script>
        <script src="static/js/navbarload.js"></script>

        <link rel="stylesheet" href="static/css/nav.css">
        <link rel="stylesheet" href="static/css/login.css">


        <!-- font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Varela+Round&display=swap" rel="stylesheet">
        <title>Profile</title>
    </head>
    <body>
        <div id="nav"></div>
        <div class="profile-box">
            <h1>Profile</h1>
            <table>
                <tr>
                    <td>
                        <label><b>First name:</b></label>
                    </td>
                    <td>
                        <input type="text" disabled value={{user_info.first_name}} name="pro_fname" id="pro_fname"></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label><b>Last name:</b></label>
                    </td>
                    <td>
                        <input type="text" disabled value={{user_info.last_name}} name="pro_lname" id="pro_lname"></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label><b>Email: </b></label>
                    </td>
                    <td>
                        <input type="text" disabled value={{user_info.email}} name="pro_email" id="pro_email"></label>
                    </td>
                </tr>
            </table>
            </br>
            <input class="submit-btn" id="edit-btn" onclick="edit()" type="submit" value="Edit profile"></input>
            <input class="submit-btn" id="resetpw-btn" onclick="{{url_for('get_resetpw')}}" type="button" value="Reset password"></input>
        </div>

        <div id="footer"></div>
    </body>

</html>
