<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="../static/js/index.js"></script>
    <script src="../static/js/navbarload.js"></script>

    <link href="../static/css/login.css" rel="stylesheet" type="text/css" />
    <link href="../static/css/nav.css" rel="stylesheet" type="text/css" />

    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Varela+Round&display=swap" rel="stylesheet">
    <title>Sign up</title>
    </head>
    <body>
        <div id="nav"></div>
        <div class="profile-box">
            <h1>Change Password</h1>
            <p>Enter the email you created your account with and a verification token will be sent</p>
            <form class="reset"  method="post" autocomplete="off">
                {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
                {% endfor %}

                {% if verify == false %}
                    {% if sent == false %}
                        <input type="text" placeholder="Email" name="reset_email" required>
                        <input class="submit-btn" type="submit" name="email_button" value="Send Email"></input>
                    {% else %}
                        <input type="text" placeholder="Email" name="reset_email" value="{{email}}" required>
                        <input class="submit-btn" type="submit" name="email_button" value="Send Email"></input>
                    {% endif %}
                    <input type="text" placeholder="Token" name="reset_token">
                    <input class="submit-btn" type="submit" name="token_button" value="Verify Token"></input>
                {% else %}
                    <input type="text" placeholder="New password" required>
                    <input type="text" placeholder="Confirm new password" required>
                    <input class="submit-btn" type="submit" name="password_button" value="Change password"></input>
                {% endif %}
                <p>Have an account already? 
                    <a href="{{url_for('get_login')}}">Log in</a>
                </p>
            </form>
        </div>
        
        <div id="footer"></div>
    </body>
</html>
