<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="static/js/index.js"></script>
    <script src="static/js/navbarload.js"></script>
    
    <link href="static/css/login.css" rel="stylesheet" type="text/css" />
    <link href="static/css/nav.css" rel="stylesheet" type="text/css" />
    <!-- font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Varela+Round&display=swap" rel="stylesheet">
    <title>Sign up</title>
    </head>
    <body>
        <div id="nav"></div>
        <div class="profile-box">
            <h1>Fill in this form <br> to sign up!</h1>
            <form class="signup" method="post">
                <input type="text" placeholder="First name" name="reg_fname" id="reg_fname" required>
                <input type="text" placeholder="Last name" name="reg_lname" id="reg_lname" required>
                <input type="text" placeholder="Email" name="reg_email" id="reg_email" required>
                <input type="password" placeholder="Password" name="reg_pw" id="reg_pw" required>   
                <input type="password" placeholder="Confirm password" name="reg_pw2" id="reg_pw2" required>
                <p>Have an account already? 
                    <a href="{{url_for('get_login')}}">Log in</a>
                </p>
                <input class="submit-btn" type="submit" value="Create my account"></input>
            </form>
        </div>
        <div id="footer"></div>
    </body>
</html>
