<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="static/js/index.js"></script>
        <script src="static/js/navbarload.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="static/css/nav.css">
        <link rel="stylesheet" href="static/css/home.css">
        <link rel="stylesheet" href="static/css/watchlist.css">
        <link rel="stylesheet" href="static/css/jobposting.css">

        <!-- font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Varela+Round&display=swap" rel="stylesheet">

        <title>Home</title>
    </head>
    <body>

    <div id="nav"></div>
    <div class="title">Watchlist</div>

    <div id="watchlist-container">
        {% if jobs != [] %}
            {% for job in jobs %}
                <div class="item" onclick="createJobPosting(event, {{job|striptags}}, '/watchlist')">
                    {% if job.job_type == 'Unknown'%}
                        {% set jobtype = ''%}
                    {% elif job.job_type == 'part_time' %}
                        {% set jobtype =  "   |   " + 'Part Time'%}
                    {% elif job.job_type == 'full_time' %}
                        {% set jobtype = "   |   " + 'Full Time'%}
                    {% else %}
                        {% set jobtype = "    |   " + job.job_type%}
                    {% endif %}
                    {% if job.company == 'Unknown'%}
                        {% set comp = ''%}
                    {% else %}
                        {% set comp = "   |   " + job.company%}
                    {% endif %}
                    <h3>{{job.title}}     {{comp}}     {{jobtype}}</h3>
                    <h4> {{job.location}}</h4>
                    {% set descrip = job.description|striptags%}
                    <p>...{{descrip[:250]}}...</p>
                    <p> <b>Posted on:</b> {{job.created}} </p>
                    <input class="button" type="button" value="Remove from Watchlist" onclick="removeJob(this.parentNode, '{{job.url}}')"></input>
                </div>
            {% endfor %}        
        {% else %}
            <h3>Empty</h3>
        {% endif %}
    </div>
    <div id="footer"></div>
    <script src='static/js/jobposting.js'></script>
    </body>
</html>
